body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
  }
  
  .container {
    text-align: center;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  textarea {
    width: 90%;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffc900;
    background-color:black;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color:#ffc900;
    border: 2px solid black;
    color: black;
  }
  
  #imageContainer {
    margin-top: 20px;
  }
  
  img {
    max-width: 100%;
    border-radius: 10px;
  }
  